.cartChecked{
    background-color: yellow !important;
}

.cartH, .tableH{
    color: #2878a7;
    width: 75%;
    border-bottom: 1px solid #2878a7;
}

table {
    table-layout: auto;
    width: 80%;  
  }


th{
    color: #2878a7;
    padding-bottom: 7px!important;
}

table tr td{
    font-size: 14px;
}

.divBtn{
    margin-left: 50%;
}

.submitBtn{
    /* bottom: 0; */
    color: white;
    background-color: #2889a7!important;
}
.submitBtn:hover{
    /* bottom: 0; */
    background-color: white!important;
    color: #2889a7;
    border: 1px solid #2889a7;
}