.navbar{
    background-color: #2889a7!important;
}

.nav-item a:hover, button.search:hover{
    color: #2889a7!important;
}

.page-container{
    position: relative;
    min-height: 100vh;
}
.footer{
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: #2878a7!important;
}
.cart{
    position: fixed;
    bottom: 50%;
    padding: 4px;
    right: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #2878a7!important;
}
a.cart:hover{
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

.num{
    border-radius: 10px;
    margin-right: 4px;
    color: #2878a7;
    padding: 1px;
    background-color: white;
}

.card
{
    width: 14rem;
}